node_modules
credentials.json
token.json
thinking-glass-389011-d22bfa005478.json
.env

calender event format:
{
    "patientName": "Samantha",
    "doctorname": "temitopesam5@gmail.com",
    "startTime": "2023-06-28T09:00:00-07:00",
    "endTime": "2023-06-30T09:00:00-07:00",
    "location": "Lagos, Nigeria",
    "summary": "Testing calender api",
    "discription": "This is the umpteenth test and surely not the last"
}

patient post:
{
    "name": "Mel",
    "age": 20,
    "gender": "female",
    "address": "Lagos, Nigeria",
    "phoneNumber": 12345677899,
    "email": "mel@gmail.com",
    "isSmoking": true,
    "isHypertensive": false,
    "isDiabetic": false
}

review post:
{ "userId": "648535f46e660809b5cafc8e",
"doctorId": "648535856e660809b5cafc8b",
"score": 80
}

doctor post:
{
    "name": "Mensa Brown",
    "age": 35,
    "gender": "male",
    "address": "Abuja, Nigeria",
    "phoneNumber": 1112345677,
    "email": "mensa@gmail.com",
    "licenseNumber": 34598765432,
    "specialization": "dental",
    "department": "dentistry",
    "practiceAddress": "Maine, US"
}

history post:

{
    "provider": "6487108816960b932819019e",
    "symptoms": "test",
    "diagnosis": "test",
    "notes": "test",
    "prescriptions": "test"
}
