node_modules
credentials.json
token.json
thinking-glass-389011-746f56df34f1.json
.env
{
    "patientName": "Samantha",
    "doctorname": "temitopesam5@gmail.com",
    "startTime": "2023-06-28T09:00:00-07:00",
    "endTime": "2023-06-30T09:00:00-07:00",
    "location": "Lagos, Nigeria",
    "summary": "Testing calender api",
    "discription": "This is the umpteenth test and surely not the last"
}