@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@200;300;400;500;600;700;800;900&display=swap");
:root {
  --dark-color: #343d45;
  --light-color: #f2fbfc;
  --primary-color: #003846;
  --secondary-color: #04a7c3;
  --trans-bg: rgba(242, 251, 252, 0.16);
  --lg: linear-gradient(rgba(0, 56, 70, 0.7), rgba(4, 167, 195, 0.3));
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Sofia Sans", sans-serif;
  font-size: 1.5rem;
  line-height: 1.2;
}
