.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

input[type="radio"] {
  margin-right: 5px;
}

.form-container button {
    background: linear-gradient(to left, #4776E6, #8e54e9);
    border-radius: 5px;
    color: #fff;
    margin-bottom: 4px;
    margin-top: 10px;
    width: 50%;
    height: 30px;
    align-self: flex-start;
}

.form-container button:hover {
    background: blue;
  }

.form-container button:active {
    background: purple;
  }

